<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="py-5 text-center">
    <h2>Tutor Match</h2>
    <p class="lead">Below you can find and add the better Tutor(s) to your necessity. Enjoy!</p>
  </div>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['student']">Student Register</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Student Detail</li>
      </ol>
    </nav>
  </div>
  <router-outlet></router-outlet>
  <br>
  <hr>
  <br>
  <!-- START FOOTER -->
  <footer class="my-5 pt-5 text-muted text-center text-small fixed-bottom">
    <p class="mb-1">&copy; 2018 Code Challenge</p>
  </footer>
  <!-- FINISH FOOTER -->
</div>
