<div class="row">
  <div div class="card-deck" *ngFor="let tutor of tutors">
    <div class="col-sm-6 text-center">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src={{tutor.picture}} class="img-fluid img-thumbnail" alt="Responsive image">
        <div class="card-body">
          <h5 class="card-title">{{tutor.name}}</h5>
          <p class="card-text">{{tutor.title}}</p>
          <p class="card-text">
            <small class="text-muted">{{tutor.contact}}</small>
          </p>
          <button type="button" class="btn btn-secondary" (click)="addRelationship(tutor)">ADD</button>
          <button type="button" class="btn btn-danger">DELETE</button>
        </div>
      </div>
      <br>
    </div>

  </div>
