<pre>{{student | json}}</pre>
<h4 class="mb-3">Student Register</h4>
<form class="needs-validation" novalidate #studentForm="ngForm" (ngSubmit)="add(studentForm)">
  <div class="mb-3">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="" value="" required [(ngModel)]="student.name" name="name">
    <div class="invalid-feedback">
      Valid first name is required.
    </div>
  </div>
  <div class="mb-3">
    <label for="email">Email</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input type="email" class="form-control" id="email" placeholder="email" required [(ngModel)]="student.email" name="email">
      <div class="invalid-feedback" style="width: 100%;">
        Your email is required.
      </div>
    </div>
  </div>
  <div class="text-center">
      <button class="btn btn-outline-dark btn-lg" type="submit">CONFIRM</button>
  </div>
  
</form>
